fastapi
uvicorn

pandas
numpy
scikit-learn

langchain
langgraph
langchain-openai

python-multipart

pydantic

matplotlib
plotly

sqlalchemy
psycopg2-binary

chromadb

python-dotenv
fastapi
uvicorn

pandas
numpy
scikit-learn

langchain
langgraph

langchain-groq

python-dotenv

openpyxl

sqlalchemy
psycopg2-binary

chromadb

fastapi
uvicorn

pandas
numpy
scikit-learn

langchain
langgraph
langchain-groq

python-dotenv

openpyxl

sqlalchemy
psycopg2-binary

chromadb

imbalanced-learn
xgboost
lightgbm 
catboost
joblib

shap